<div ng-controller="NilaiCtrl">
  <div class="container">
    <iframe id="khs1" src="/report/khs1.html"  style="display:none;" ></iframe>
    <button class="btn btn-primary"  value="Print"  ng-click="printTrigger('khs1'); ">Semester 1</button>
    <iframe id="khs2" src="/report/khs2.html"  style="display:none;" ></iframe>
    <button class="btn btn-primary"  value="Print" ng-click="printTrigger('khs2');">Semester 2</button>
    <iframe id="khs3" src="/report/khs3.html"  style="display:none;" ></iframe>
    <button class="btn btn-primary"  value="Print" ng-click="printTrigger('khs3');">Semester 3</button>
    <iframe id="khs4" src="/report/khs4.html"  style="display:none;" ></iframe>
    <button class="btn btn-primary"  value="Print" ng-click="printTrigger('khs4');">Semester 4</button>
  </div>
  <br>
  <div class="container">
    <iframe id="khs5" src="/report/khs5.html"  style="display:none;" ></iframe>
    <button class="btn btn-primary"  value="Print" ng-click="printTrigger('khs5');">Semester 5</button>
    <iframe id="khs6" src="/report/khs6.html"  style="display:none;" ></iframe>
    <button class="btn btn-primary"  value="Print" ng-click="printTrigger('khs6');">Semester 6</button>
    <iframe id="khs7" src="/report/khs7.html"  style="display:none;" ></iframe>
    <button class="btn btn-primary"  value="Print" ng-click="printTrigger('khs7');">Semester 7</button>
    <iframe id="khs8" src="/report/khs8.html"  style="display:none;" ></iframe>
    <button class="btn btn-primary"  value="Print" ng-click="printTrigger('khs8');">Semester 8</button>
  </div>
   <br>
  <div class="container">
    <iframe id="transkrip" src="/report/transkrip.html"  style="display:none;" ></iframe>
    <button class="btn btn-success"  value="Print" ng-click="printTrigger('transkrip');">Transkrip</button>
  </div>
</div>
